@model IEnumerable<WebForm1._0.Models.FormData>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["InsertMessage"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success! </strong>@TempData["InsertMessage"]
	</div>
}

@if (TempData["UpdateMessage"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> @TempData["UpdateMessage"]
	</div>
}
@if (TempData["DeleteMessage"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> @TempData["DeleteMessage"]
	</div>
}


<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Sheet Name")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Areas)
		</th>

		<th>
			@Html.DisplayName("Owner")
		</th>
		<th>
			@Html.DisplayName("Actual vs Plan")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Month)
		</th>

		<th>
			@Html.DisplayName("PA")
		</th>
		<th>
			@Html.DisplayName("CNPA)")
		</th>
		<th>
			@Html.DisplayName("CC1FA")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IM)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.C)
		</th>
		<th>Operations</th>

	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.sheetName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Areas)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.owner)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.PlanType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Month)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CPA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CNPA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CC1FA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IM)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.C)
			</td>



			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
				@Html.ActionLink("Details", "Details", new { id = item.id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.id })
			</td>
		</tr>
	}

</table>
